<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>TicketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>tipo</param-name>
        <param-value>Adulto</param-value>
    </context-param>
    <context-param>
        <param-name>folio</param-name>
        <param-value>28</param-value>
    </context-param>
    <context-param>
        <param-name>zona</param-name>
        <param-value>Azul</param-value>
    </context-param>
    <context-param>
        <param-name>fecha</param-name>
        <param-value>Sabado 03 Diciembre 2022 21:00 hrs</param-value>
    </context-param>
    <context-param>
        <param-name>concierto</param-name>
        <param-value>BAD BUNNY WORLDS HOTTEST TOUR</param-value>
    </context-param>
    
</web-app>
